.main-grid-rows{
    display: grid;
    height: 800px;
    width: 730px;
    grid-template-rows:40% 20% 30%;
}
.main-grid-columns {
    display: grid;
    align-content: space-evenly;
    grid-template-columns: 10% 16% 16% 16% 16% 16% 10%;
    padding: 5%;
}
.main-head-page{
    height: 100%;
    width: 100%;
    font-size: 400%;
    text-align: center;
    background-color: #A9F5BCE0;
    margin: 0%;
}
.main-button-size{
    height: 100%;
    width: 110%;
    padding: 0%;
    margin: 12%;
}
.main-content-page{
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
}



/* 모달팝업을 감싸고 있는 최상위 부모*/
#modalWrap, #modalNotificationWrap {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 100px;
    top: 100px;
    height: 422px;
    width: 522px;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border: 2px solid #777;
}
/* 모달 팝업창*/
#modalBody, #modalNotificationBody{
    padding: 10px 10px;
    margin: 0 auto;
}

/* 화면 전체를 덮는 배경 */
.sub-edit-page {
    display: grid;
    position: fixed;
    grid-template-rows: 10% 20% 45% 15%;
    height: 400px;
    width: 500px;
    border: 1px solid #ccc;
    background-color:honeydew;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

/*****뿌리는 소스****/
.grid-center{
    place-items: center;
}
.margin-sauce{
    margin-top: 5px;
    margin-left: 5px;
}
.bold-sauce{
    font-weight: bold;
}
.gap-sauce{
    gap: 10px;
}
/*한줄로 표시되는 텍스트 소스*/
.one-line{
    white-space: nowrap;
}

.row2{
    display: grid;
    grid-template-rows: 45% 45%;
}
.col2{
    display: grid;
    grid-template-columns: 45% 45%;
}
.row3{
    display: grid;
    grid-template-rows: 30% 30% 30%;
}
.col3{
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.row4{
    display: grid;
    grid-template-rows: 22.5% 22.5% 22.5% 22.5%;
}
.col4{
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
}



/* 추가적인 스타일링은 여기에 작성할 수 있습니다. */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
/* 이미지 크기를 조절하세요. */
.img {
    width: 28px;
    margin-right: 2px;
}
/* 텍스트 양에 비례한 크기의 버튼 생성하기 */
.button {
    padding: 8px 20px; /* 상하 10px, 좌우 20px의 여백을 지정 */
    margin-top: 2px;
    margin-left: 2px;
}
.block {
    display: inline-block;
    padding: 18px 16px; /* 상하 10px, 좌우 20px의 여백을 지정 */
    margin-top: 0px;
    margin-left: -30px;
    border: 4px solid #777;
    background-color: #ccc;
}


/*id 입력해서 스타일 설정*/
#closeBtn {
    float:right;
    font-weight: bold;
    color: #777;
    font-size:25px;
    cursor: pointer;
}
#subTitle {
    height: 100%;
    width: 100%;
    font-size: 200%;
    text-align: center;
    
}
#in-hour, #in-min, #in-sec {
    width: 22px;
    height: 24px;
}
#angry{
    justify-items: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    gap: 20px;
}
#timeSet {
    margin-top: 5px;
    margin-left: 40px;
    gap: 30px;
}
#timeForm {
    justify-content: space-evenly;
    overflow-y: scroll; /* 수직 스크롤바 표시 */
    height: 150px;
    width: 170px;
}
#in-id {
    margin-top: 5px;
    margin-left: -30px;
}
#loaddatagrid{
    margin-top: 5px;
    margin-left: 40px;
}
